<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Name</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Type</th>
      <th>Tienda</th>
      <th>Foto</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.description %></td>
        <td><%= product.name %></td>

        <td><%= product.rating %></td>
        <td><%= product.category %></td>
        <td><%= product.profile.name %></td>
        <td><%= product.price %></td>
        <td><%= image_tag(-product.products_pic, style: 'height:70px;width:auto;')%></td>

        <td><%= link_to 'Show', product %></td>
        <% if current_user.profile.tienda? then %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete %></td>
        <%end %>
        <td><%= link_to "Comprar", "order/new/#{product.id}" if current_user.profile.cliente?%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path if current_user.profile.tienda? %>
